<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                    class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="http://classgotcha.com/index/" class="navbar-brand">ClassGotcha+</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="http://classgotcha.com/faq/"data-toggle="dropdown"> FAQ</a>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="mailto:steveleelx@gmail.com" >问题反馈</a>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle"  data-toggle="modal" data-target="#myModal">购买课程包</a>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle"  data-toggle="modal" data-target="#reSetModal">修改PSU密码</a>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> 关于开发者 <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="">我就是我</a></li>
                        <li><a href="">是不一样的烟火</a></li>
                    </ul>
                </li>
                <li>
                    {{ Info }}
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    {{ user.username }}
                </li>
                <li>
                    <a href="../logout/">
                        <i class="fa fa-sign-out"></i> 登出
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>